.navigation-bar {
    background-color: #fff6f4;
    padding: 1rem 2rem;
}

.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.navigation-brand a {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    text-decoration: none !important;
}

.navigation-list {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.navigation-list a {
    text-decoration: none;
    color: #020202;
    font-size: 0.8rem;
}

.navigation-list a:hover {
    color: #008060;
}