@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

.parent-div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.heading-div {
    font-size: 2rem;
}